.b-form {
  width: 420px;
  margin-top: 15%;
  padding: 20px 80px;
  background: rgba(33,40,45,0.87);
  @include border-radius(30px);
  color: #fff;
  position: fixed;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -290px;
}

.b-form__header {
  margin: 0;
  padding-left: 60px;
  font-size: 20px;
  line-height: 1.2;
  @include background-asset("form/header.png", no-repeat left top);
}

.b-form__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 26px;
  height: 26px;
  @include background-asset("form/close.png", no-repeat center center);
}

.b-form__text {
  margin: 15px 0 25px;
  padding-left: 60px;
  font-size: 15px;
}

.b-form__form {

}

.b-form__text-field {
  width: 380px;
  height: 37px;
  padding: 0 10px;
  font-size: 13px;
  border: 6px solid #181919;
  @include border-radius(40px);
  background-color: #474e53;
  color: #fff;
  &:focus {outline: none}
}

.b-form__text-field_margin {
  margin: 10px 0 20px;
}

.b-form__button-wrap {
  padding: 8px;
  text-decoration: none;
  text-align: center;
  background-color: #262626;
  @include border-radius(10px);
}

.b-form__button {
  padding: 15px 37px;
  @include border-radius(10px);
  border-top: 1px solid #ff9c94;
  @include background-asset("header/button.png", repeat center center);
  text-decoration: none;
  color: #fff;
}

.b-form__button-arrow {
  margin-top: 7px;
}

.b-form__button-text {
  font-size: 17px;
}

.b-form__submit_hidden {
  display: none;
}

.b-form_finished {
  text-align: center;
}

.b-form__price-bar{
  position: relative;
  top:1px;
  .noUi-horizontal{
    height: 11px;
    width: 80%;
    margin: auto;
    .noUi-connect{
      background: white;

    }
    .noUi-handle{
      &:before, &:after{
        display: none !important;
      }
      width: 20px;
      height: 20px;
      left: -17px;
      top: -5px;
      border-radius: 14px;
      background-color: #f55a54;
      box-shadow: none;
      &.noUi-handle-lower{
        left: -4px;
      }
    }
  }
}

.b-form__brand-list{
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  li{
    width: 145px;
    margin: 0 10px 0 0;
  }
}


.b-form_input-group{
  margin: 0 10px;
  box-shadow: 0 7px 8px rgba(0,0,0,0.16);
  border-radius: 12px;
  background-color: white;
  border: 1px solid #4e5052;
  input, .input-group-addon{
    background: white;
    display: inline-block;
    height: 28px;
    vertical-align: middle;
  }
  .input-group-addon{
    background-color: transparent;
    position: relative;
    left: 1px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    color: #d4d7da;
    line-height: 28px;
    padding: 0 12px;
  }
  input{
    border: none;
    border-left: 1px solid #eeeeef;
    color: #80878d;
    padding: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 70px;
    padding-left: 4px;
  }
}

.b-form_action-link{
  text-decoration: none;
  border-bottom: 1px dotted #3f474e;
  color: #3f474e;
}
.b-form_radius-filter{
  a{
    color: #f55a54;
  }
}