.b-problems {
  margin-top: 60px;
}

.b-problem {
  width: 283px;
  padding: 0 15px;
  text-align: center;
  color: #424650;
}

.b-problem__header {
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
}

.b-problem__text {
  margin: 20px 0 0;
  font-size: 15px;
}